body{
  background-image: linear-gradient(to top, rgb(0, 0, 0) , rgba(0, 0, 0, 0.856));
  background-attachment: fixed;
  color: aliceblue;
}
  .about{
    width:100%;
    margin-top: 3rem;
    height: auto;

  }
  .about h2{
    text-align: center;
     color: rgba(255, 255, 255, 0.897);
   font-size: 300%;
   font-weight: lighter;
   font-family: fantasy;
  }
  @media (max-width:500px){
    .about h2{
      font-size: x-large;
    }
  }